@use "/src/styles/variables.scss" as *; 
@use "/src/styles/functions.scss" as *;
@use "../../styles/main.scss" as *;

.gobutton {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;

 
  width: px-to-rem(80);
  height: px-to-rem(80);

  .gobutton__icon {
    width: 100%;
    height: 100%;
    display: block;
  }

  .gobutton__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-85%, -60%);
    color: $font-color-primary;
    font-weight: $font-weight-black;
    font-size: px-to-rem(18);
    pointer-events: none; 
  }

  &:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
  }

  &:active {
    transform: scale(1);
  }
}
