@use "../../styles/variables.scss" as *;
@use "../../styles/functions.scss" as *;
@use "../../styles/main.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



.landing { // // contenedor raíz de la landing
    position: relative; // // para que los hijos posicionados relativos/absolutos se acomoden bien
    min-height: 100vh; // // que ocupe al menos el alto de la pantalla
    display: flex; // // usamos flex para estructurar vertical
    flex-direction: column; // // los hijos uno debajo de otro
    background: transparent; // // el fondo real lo pone <Background />
  }
  
  .landing__content { // // contenedor principal (todo menos el footer)
    width: min(1200px, 100% - 3rem); // // centramos y limitamos el ancho
    margin: 0 auto; // // centrado horizontal
    padding-top: 6.5rem; // // dejamos espacio para el navbar y el hero
    padding-bottom: 4rem; // // separación inferior antes del footer
    z-index: 1; // // para que quede por encima del background
  }
  
  .hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 80vh; //yet not sure what this is
  }
  .hero__text{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    
  }
  .hero__title{
    color: $font-color-primary;
    font-family: Inter;
    font-weight: 800;
  }
  .hero__search{
    display: flex;
  }
  .hero__image-el{
    width: 70%;
    height: auto;
  }

  .events {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }

  .events__see-all {
  background: none;
  color: $font-color-primary;
  font-family: Inter;
  font-size: px-to-rem(18);
  font-weight: $font-weight-bold;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.15s ease, color 0.3s ease;
  &:hover {
    transform: translateY(px-to-rem(-2));
  }

  &:active {
    transform: translateY(0);
  }
}
