    .landing {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, $background-1, $background-2);
    color: $font-color-primary;
    font-family: $font-primary;

    .navbar {
        width: 100%;
        position: relative; 
        z-index: 2;
    }

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 6rem 2rem 4rem 2rem;
        text-align: center;
        z-index: 1;
        margin-top: 4rem; 
    }

    footer {
        width: 100%;
        margin-top: auto;
    }
    }
