@use "/src/styles/variables.scss" as *; 
@use "/src/styles/functions.scss" as *;

.event-list {
 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem; 
  margin: 1rem;

  
  justify-items: center; 
  align-items: start; 
  margin: 1rem auto; 
  padding: 2rem 1rem; 
  background-color: transparent; 
  
  

  
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr); 
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr; 
  }
}
