$accent-primary: #55D57E;
$accent-secondary: #FEBD19;
$accent-third: #50F1EC;
$background-1: #1D2237;
$background-2: #314472;
$accent-card: #C56A9E;

$font-color-primary: white;
$font-color-secondary: black;
$text-dark: #222222;
$text-light: #555555;
$text-muted: #888888;

$font-primary: 'Inter', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;
