    @use "../../styles/variables.scss" as *;
    @use "../../styles/functions.scss" as *;

    .event-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, $background-1, $background-2);
    color: $font-color-primary;
    font-family: $font-primary;
    min-height: 100vh;
    padding-top: 6rem;
    position: relative;

    &__main {
        flex: 1;
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 2rem;
        z-index: 1;
    }

    &__title {
        font-size: 4rem;
        font-weight: $font-weight-bold;
        color: $accent-secondary;
        text-align: center;
        margin-bottom: 2.5rem;
        letter-spacing: 1px;
    }

    footer {
        width: 90%;
        margin-top: auto;
    }

    @media (max-width: 1024px) {
        &__title {
        font-size: 2rem;
        }

        &__main {
        padding: 1.5rem;
        }
    }

    @media (max-width: 600px) {
        &__title {
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
        }

        &__main {
        padding: 1rem;
        }
    }
    }
