@use "/src/styles/variables.scss" as *; 
@use "/src/styles/functions.scss" as *;

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 2rem 2.3rem; 

  justify-content: center; 
  justify-items: center;  
  
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem 2rem; 

  background-color: transparent;

  /* Responsivo */
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
     padding: 2rem 1rem;
  }
}

.eventgrid__status {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #fff;

  &.error {
    color: #ff6b6b;
  }
}