@use "/src/styles/variables.scss" as *;

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: transparent;
    color: $font-color-primary;
    padding: 2rem 4rem;
    font-family: $font-primary;
    position: relative;

    &__left {
        display: flex;
        gap: 4rem;
        font-size: 1.3rem;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 0.5rem;
                cursor: pointer;
                font-weight: $font-weight-medium;
                transition: color 0.3s ease;

                &:hover {
                    color:#ff8ab2;
                }
            }
        }
    }

    &__center {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        .footer__logo {
            width: 600px;
            object-fit: contain;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .footer__follow {
            font-weight: $font-weight-semibold;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
        }

        .footer__icons {
            display: flex;
            justify-content: flex-end;
            gap: 1.5rem;

            .footer__icon {
                width: 55px;
                height: 55px;
                transition: transform 0.3s ease, filter 0.3s ease;
                filter: brightness(0) invert(1);

                &:hover {
                    transform: scale(1.1);
                    filter: brightness(1.5);
                    color:#ff8ab2;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .footer {
        &__left {
            font-size: 1.1rem;
        }

        &__right {
            .footer__follow {
                font-size: 1.3rem;
            }

            .footer__icons .footer__icon {
                width: 45px;
                height: 45px;
            }
        }

        &__center .footer__logo {
            width: 400px;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
        padding: 2rem;

        &__left {
            flex-direction: column;
            gap: 1rem;
            font-size: 1rem;
        }

        &__center {
            position: static;
            transform: none;

            .footer__logo {
                width: 80%;
            }
        }

        &__right {
            text-align: center;

            .footer__follow {
                font-size: 1.2rem;
            }

            .footer__icons {
                justify-content: center;

                .footer__icon {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}
