@use "/src/styles/variables.scss" as *; 
@use "/src/styles/functions.scss" as *;

.signupbutton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: px-to-rem(7) px-to-rem(30); 
  border: px-to-rem(4) solid $accent-primary; 
  border-radius: px-to-rem(58);
  background-color: transparent;

  color: $font-color-primary;
  font-weight: $font-weight-black;
  font-size: px-to-rem(18);

  cursor: pointer;
  transition: transform 0.15s ease, background-color 0.3s ease;

  &:hover {
    transform: translateY(px-to-rem(-2));
    background-color: rgba(92, 212, 123, 0.1);
  }

  &:active {
    transform: translateY(0);
  }
}
