    @use "../../styles/variables.scss" as *;
    @use "../../styles/functions.scss" as *;
    @use "sass:color";

    .login-form {
    background-color: rgba($accent-card, 0.65);
    color: black;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.6rem;

    label {
        display: flex;
        flex-direction: column;
        font-weight: $font-weight-semibold;
        font-size: 1.3rem;

        input {
        margin-top: 0.5rem;
        padding: 0.6rem 0.8rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(33, 18, 18, 0.3);
        background-color: transparent;
        color: $font-color-primary;
        font-size: 0.95rem;
        transition: all 0.2s ease;
        font-size: 1em;

        &:focus {
            outline: none;
            border-color: $accent-secondary;
            box-shadow: 0 0 8px rgba($accent-secondary, 0.5);
        }
        }
    }

    .error-msg {
        color: #ff4d4d;
        font-size: 0.85rem;
        text-align: center;
    }

    button[type="submit"] {
        margin-top: 1rem;
        padding: 0.8rem;
        border: none;
        border-radius: 50px;
        font-weight: $font-weight-semibold;
        cursor: pointer;
        font-size: 1rem;
        background-color: $accent-secondary;
        color: $font-color-secondary;
        transition: all 0.2s ease;

        &:hover:not(:disabled) {
        background-color: color.adjust($accent-secondary, $lightness: -10%);
        }

        &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
        }
    }

    @media (max-width: 768px) {
        padding: 1.5rem;
        max-width: 90%;

        label input {
        font-size: 0.9rem;
        padding: 0.5rem;
        }

        button[type="submit"] {
        font-size: 0.9rem;
        padding: 0.7rem;
        }
    }
    }
