@use "../../styles/variables.scss" as *; 
@use "../../styles/functions.scss" as *;

.home-event-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem; 
  margin: 1rem;
  justify-items: center; 
  align-items: start; 
  margin: 1rem auto; 
  padding: 2rem 1rem; 
  background-color: transparent; 

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr); 
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr; 
  }
}

.home-event-list-empty {
  text-align: center;
  padding: 4rem 2rem;
  color: $font-color-primary;
  font-family: $font-primary;
  font-size: 1.2rem;
  
  p {
    margin: 0;
    opacity: 0.7;
  }
}